<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>TulipTools</title>
    <meta name="title" content="TulipTools - Development for Tezos">
    <meta name="description" content="TulipTools develops Tplus and other Tools used by Tezos developers and Bakers">
    <meta name="keywords" content="Tezos,Baking,Cryptocurrency,Blockchain,Tplus,programming,development,tool">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="3 days">
    <meta name="author" content="Johann Tanzer">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but this site doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
