<template>
  <b-container class="body">
    <div v-if="!isMobile">
      <div class="row" style="margin-top: 35px;">
        <div class="col-md-7"></div>
        <div class="col-md-5"><span class="text-right"><img src="./../assets/logo.png" height="60px" alt=""></span></div>
      </div>
      <b-row style="padding: 80px;">
        <div class="col-lg-4 line" style="text-align: center">
          <p style="margin-top: 100px;">
            We make development <br> on Tezos easy.
          </p>
          <div class="linkscontainer">
            <div class="linkmg"><a href="https://tezos.foundation/news/tezos-foundation-issues-grant-to-tplus-project"><img width="80px" src="./../assets/tf.png" alt="">  </a> </div>
            <div class="linkmg"><a href="https://gitlab.com/tuliptools"><img width="80px" src="./../assets/gitlab.png" alt="">  </a> </div>
            <div class="linkmg"><a href="https://medium.com/tuliptools"><img width="80px" src="./../assets/medium.png" alt="">  </a> </div>
            <div class="linkmg"><a href="https://hub.docker.com/u/tuliptools"><img width="80px" src="./../assets/dockerhub.png" alt="">  </a> </div>
            <div class="linkmg"><a href="https://t.me/tuliptools"><img width="80px" src="./../assets/telegram.png" alt="">  </a> </div>
          </div>
        </div>
        <div class="col-lg-4 line"><img src="../assets/tulip.png" width="275px" style="opacity: 0.6" alt=""></div>
        <div class="col-lg-4">
          <a class="twitter-timeline" data-height="800" href="https://twitter.com/TulipToolsOU?ref_src=twsrc%5Etfw">Twitter</a>
        </div>
      </b-row>
    </div>

    <div v-if="isMobile">
      <div class="row" style="width: 100%; text-align: center">
        <img src="./../assets/logo.png" class="center" height="60px" alt="">
      </div>
      <b-row v-if="isMobile" style="text-align: center; margin: 25px;">
        <div style="text-align: center; width: 100%; padding-top: 50px;">
          We make Development on Tezos easy.
        </div>
        <br>
        <div class="mobilelinks" style="margin-top: 70px; text-align: center">
          <div class="linkmg"><a href="https://tezos.foundation/news/tezos-foundation-issues-grant-to-tplus-project"><img width="80px" src="./../assets/tf.png" alt="">  </a> </div>
          <div class="linkmg"><a href="https://gitlab.com/tuliptools"><img width="80px" src="./../assets/gitlab.png" alt="">  </a> </div>
          <div class="linkmg"><a href="https://medium.com/tuliptools"><img width="80px" src="./../assets/medium.png" alt="">  </a> </div>
          <div class="linkmg"><a href="https://hub.docker.com/u/tuliptools"><img width="80px" src="./../assets/dockerhub.png" alt="">  </a> </div>
          <div class="linkmg"><a href="https://t.me/tuliptools"><img width="80px" src="./../assets/telegram.png" alt="">  </a> </div>

        </div>
      </b-row>

    </div>

  </b-container>
</template>

<script>
// @ is an alias to /src
import { isMobile } from 'mobile-device-detect';

export default {
  name: 'home',
  components: {
  },
  data() {
    return {
      isMobile: isMobile
    }
  }
}
</script>


<style>


  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
  }


  .body {
    text-align: center;
    width: 100%;
  }

  .line {
    border-right: 1px solid #d2d0d6;
  }

  .linkscontainer {
    display: flex;
    width: 300px;
    height: 200px;
    margin-top: 480px;
    flex-flow: row;
    flex-wrap: wrap;
  }

  .linkmg {
    width: 80px;
    height: 80px;
    margin: auto;
    opacity: 0.5;
    margin: 10px;
  }

  .linkmg:hover {
    opacity: 0.8;
  }

  .mobilelinks {
    width: 80%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 25px;
  }

</style>